*{
  box-sizing: border-box;
}

html, body, header, div, section, ul, li, h1, h2, h3, h4, h5, h6, p, img{
  margin: 0;
  padding: 0;
}
body{
  font-family: sans-serif;
  font-size: 1.2vw;
}
li{
  list-style: none;
  text-align: center;
}
a{
  text-decoration: none;
  color: white;
}

.emphasis-color-blue{
  color: rgb(68, 147, 196);
  font-size: 3vw;
}

.emphasis-color-yellow{
  color: rgb(231, 202, 94);
}

.br-point-1{
  line-height: 1em;
}

.btn1-container{
  border-radius: 20px;
}

/* ボタン１の制御 */
.btn1{
  display: inline-block;
  width: 120px;
  height: 50px;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0px rgba(58, 58, 58, 0.5);
  position: relative;
}

.btn1-frame{
  position: absolute;
  top: -5px;
  left: -5px;
  width: 120px;
  height: 50px;
  border: 2px solid rgba(58, 58, 58, .9);
  border-radius: 5px;
}

.btn2{
  display: block;
  width: 200px;
  height: 50px;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  border-radius: 25px;
  box-shadow: 3px 3px 3px 0px rgba(58, 58, 58, 0.5);
  background-color: rgb(231, 202, 94);
  color: rgb(58, 58, 58);
  font-weight: bold;
  margin: 10px auto;
}



/* ここからヘッダー */
.header .wrapper{
  margin: 0 auto;
  width: 100%;
  height: 80px;
}

header{
  width: 100%;
  height: 80px;
  color: white;
  background-color: rgba(76, 194, 222, 0.9);
  font-weight: bold;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
}
.app-name{
  flex-grow: 1;
  margin: auto 10px;
  text-align: center;
}

.header-list{
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
  width: 550px;
}

.header-list > li{
  margin: auto 10px;
}

.top-login{
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px 40px;
}

/* ここからPC右側固定部分SNS案内 */
.sns-information{
  width: 60px;
  height: 300px;
  position: fixed;
  top: 200px;
  right: 0;
  background-color: rgba(58, 58, 58, 0.9);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.sns-icon{
  display: block;
  width: 40px;
  margin: 40px auto;
}

/* ここからトップ */
.top-wrapper{
  width: 100%;
  margin-top: 80px;
}

.top-container{
  width: 100%;
  padding: 30px 70px 30px 60px;
  display: flex;
}

/* トップ左側 */
.top-left{
  margin-right: 20px;
}

.top-logo-image{
  width: 100%;
  height: auto;
}

.top-btns{
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

.subscribe-button{
  background-color: rgba(76, 166, 222, 1);
}

.plan-button{
  background-color: rgba(76, 194, 222, 0.9);
}

.about-seed-button{
  background-color: rgba(76, 166, 222, 1);
}

/* トップ右側 */
.top-right-container{
  background-color: rgba(76, 194, 222, 0.9);
  padding: 20px;
  border-radius: 20px;
  color: white;
  min-height: 500px;
}

.top-right-p-container{
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.top-right-large{
  font-size: 3.3vw;
  background-image: linear-gradient(transparent 50%, rgba(231, 202, 94) 50%);
}
.top-right-large1{
  font-size: 2.5vw;
  box-sizing: content-box;
  border-bottom: 8px solid white;
}
.top-right-large2{
  font-size: 3.3vw;
  background-image: linear-gradient(transparent 50%, rgba(231, 202, 94) 50%);
}

.top-right-p1{
  margin-top: 40px;
}

.top-right-p2-img{
  width: 45px;
}
.top-right-p2{
  display: inline-block;
  vertical-align: bottom;
}

.top-right-p3-img{
  width: 45px;
}
.top-right-p3{
  display: inline-block;
  vertical-align: bottom;
}

.top-right-p4{
  
}

.top-right-p5{
  margin-top: 30px;
  font-size: 1.2vw;
}

/* ここから特長部分 */
.feature-wrapper{
  width: 100%;
  text-align: center;
}

.feature-container{
  margin: 0 auto;
}

.feature-name{
  margin: 0 auto;
  font-size: 2.5vw;
  color: rgb(112, 112, 112);
  width: 45%;
  border-top: 8px solid rgb(112, 112, 112);
  border-bottom: 8px solid rgb(112, 112, 112);
  padding: 10px 0;
}

.feature-call{
  margin-top: 10px;
  color: rgb(112, 112, 112);
  font-size: 1.5vw;
}

.pc-container{
  width: 100%;
  margin: 0 auto;
  padding: 0 70px;
}

.pc-frame1{
  width: 100%;
  height: 620px;
  border: 10px solid rgb(76, 166, 222);
  border-radius: 20px;
  box-shadow: 4px 4px 4px 0px rgb(58, 58, 58);
  padding: 10px;
}

.pc-frame2{
  width: 100%;
  height: 580px;
  border: 2px solid rgb(76, 166, 222);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature-frame{
  width: calc((100% - 10px)/2);
  height: calc((100% - 8px)/2);
  border: 5px solid rgb(76, 166, 222);
  display: flex;
}
.feature-left-frame{
  width: 45%;
  position: relative;
}
.feature-right-frame{
  width: 60%;
  background-color: rgb(76, 166, 222);
  position: relative;
}
.feature-reason{
  margin-top: 30px;
  color: rgb(68, 147, 196);
}
.feature-number{
  color: rgb(68, 147, 196);
  font-size: 3vw;
}
.feature-title{
  margin-top: 30px;
  color: white;
}

.btn3{
  display: block;
  width: 150px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 35px;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 0px rgba(58, 58, 58, 0.5);
  background-color: rgb(76, 166, 222);
  font-weight: bold;
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
  left: calc((100% - 150px)/2);
}

.feature-img{
  width: 90%;
  position: absolute;
  top: 100px;
  left: 10px;
}

.feature-img2{
  width: 100%;
  top: 80px;
  left: 0px;
}

.feature-img4{
  width: 60%;
  left: 40px;
}


.sample{
  background-color: violet;
}
